fastapi
uvicorn[standard]
websockets
sqlalchemy
psycopg2-binary
python-dotenv
faster-whisper>=0.10.0
google-cloud-texttospeech
whisper-mic
fastmcp
google-generativeai
Jinja2
httpx
aiohttp
python-multipart
pydub
numpy>=1.24.0
requests
starlette
imageio-ffmpeg
ctranslate2>=3.24.0
soundfile>=0.12.0
SpeechRecognition>=3.10.0
PyAudio>=0.2.13
torch
torchaudio
silero